@font-face{
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}
@import '../node_modules/gutenberg-web-type/src/style/gutenberg.scss';

$bg-color-two: #F9F7F3;
$bg-color-three: #E4DADA;
$over-inner-background:#F9F7F3;
$white: #fff;
$pink: #FF3264;
$green: #2F4C54;
$gold: #AD662B;

* {
  font-family: Raleway;
}
a {
  text-decoration: none;
}

.pink-text {
  color: $pink;
}

.white-text {
  color: $white;
}

.green-text {
  color: $green;
}

.gold-text {
  color: $gold;
}

.no-gute{
  line-height: normal;
  margin: 0;
  max-width: 100%;
}

.no-margin-bottom {
  margin-bottom: 0px;
}
.no-margin-left {
  margin-left: 0px;
}
.no-margin-right {
  margin-right: 0px;
}
.text-center {
  text-align: center;
}
.fixed-body {
  height: 100%;
  width:100%;
  overflow: hidden;
  padding-top: 0.1px; //odd behavior to contain children
  padding-bottom: 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $green;
  font-size: 16px
}
::-moz-placeholder { /* Firefox 19+ */
  color: $green;
  font-size: 16px
}
:-ms-input-placeholder { /* IE 10+ */
  color: $green;
  font-size: 16px
}
:-moz-placeholder { /* Firefox 18- */
  color: $green;
  font-size: 16px
}

.container-padding{
  padding: 0 135px;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 45%;
}
body {
  margin: 0px!important;
  position: relative;
  padding-bottom: 75px;
  font-family: Raleway
}

img {
  @extend .no-gute;
}

.nav {
  @extend .no-gute;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 22px;
  position: absolute;
  background: white;
  line-height: 1;
  margin: 0;
  z-index: 99;
  flex-wrap: wrap;
  * {
    @extend .no-gute;
  }
}
.nav-item {
  display: inline-block;
  margin-right: 25px;
}
.button {
  height: 40px;
  border: 1px solid $green;
  width: 120px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $green;
  background: transparent;
  &.--white {
    background: #fff;
  }
  &.--submit {
    margin-right: auto;
  }
}

.mobile-nav-items {
  max-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: max-height .2s ease-out;
  &.open {
    max-height: 500px;
    a {
      display: block
    }
  }
  a {
    display: none;
    margin-bottom: 20px;
  }
}

.nav-right  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  @extend .no-gute;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F2EEE9;
  height: 75px;
  padding: 0 33px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap:wrap;
  * {
    @extend .no-gute;
  }
}

.footer-left {
  display: flex;
  align-items: center;
  width: 266px;
  justify-content: space-between;
}

.footer-center{
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  height: 13px;
  width: 13px;
}
.cover-photo {
  @extend .no-gute;
  background-image:url(../images/homepage.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  &.--project{
    height: 100%;
    margin-bottom: 0;
  }
}
.main-photo{
  height: 700px;
  position: relative;
  @extend .no-gute;
  @extend .container-padding;
}
.blogs-top {
  height: 300px;
  position: relative;
  @extend .container-padding;
  @extend .no-gute;
}
.project-link {
  height: 576px;
  position: relative;
}
.link-hover {
  @extend .no-gute;
  opacity:0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link-hover:hover {
  opacity: 1;
}

.social-links-section {
  width: 100%;
  min-height: 259px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @extend .no-gute;
}
.social-container {
  width: 273px;
  height: 259px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.project-link-button {
  width: 476px;
  background-color: $over-inner-background;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
  border-radius: 2px;
  > h2 {
    @extend .pink-text;
    @extend .no-gute;
  }
}

.home-top {
  position: relative;
  display: flex;
  height: 576px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @extend .no-gute;
  > * {
    @extend .no-gute;
  }
}
.names {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  width: 75%;
  max-width: 480px;
  h2 {
    @extend .no-gute;
    margin: 0 5px;
  }
  @extend .pink-text;
}

.mouse-scroll {
  position: absolute;
  bottom:0;
  left: calc(50% - 8px);
}

.text-top {
  font-size: 20px;
  max-width: 470px;
  line-height: 40px;
}

.home-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 380px;
  text-align: center;
  @extend .no-gute;
}

.carousel-items {
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  
}
.page-header {
  position: absolute;
  bottom: 40px;
  &.--white {
    @extend .white-text;
  }
  &.--pink {
    @extend .pink-text;
  }
}
.about-section-text, .about-section-image{
  width: 50%;
  height: 600px;
  @extend .no-gute;
}
.about-section-text {
  background: $bg-color-two;
  padding: 0 60px;
  display: flex;
  align-items: center;
}
.about-section{
  @extend .no-gute;
  display: flex;
  flex-wrap: wrap;
}
.about-us-desc {
  @extend .container-padding;
  @extend .no-gute;
  height: 359px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    width: 425px;
    margin: 0;
  }
}
.employee-section {
  @extend .no-gute;
  display: flex;
  flex-wrap: wrap;
  background-color: $bg-color-three;
}

.faq {
  @extend .no-gute;
  
}
.faq-top {
  @extend .no-gute;
  @extend .container-padding;
  height: 154px;
  display: flex;
  align-items: center;
  h3 {
    margin: 0px;
  }
}

.worked-with {
  background-color: $bg-color-two;
  display: flex;
  @extend .no-gute;
  @extend .container-padding;
  height: 216px;
  justify-content: space-between;
  padding-top: 65px;
  > * {
    @extend .no-gute;
  }
  h3 {
    margin-top: 0px;
  }
}

.faq-item {
  display: flex;
  justify-content: space-between;
  background-color: $bg-color-two;
  @extend .no-gute;
  margin-bottom: 10px;
  @extend .container-padding;
  height: 100px;
  align-items: center;
  > * {
    @extend .no-gute;
  }
  &.expanded {
    height: 216px;
  }
  .plus, .minus {
    font-size: 36px;
  }
}


.employee-image{
  width: 100%;
  height: 313px;
}

.employee-description{
  margin-right: 60px;
}

.contact-us{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index:-999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s linear;
  @extend .no-gute;
  &.open {
    opacity: 1;
    z-index: 999;
  }
}

.contact-us-inner {
  max-height: 100%;
  overflow-y: scroll;
  background:$over-inner-background;
  padding: 10px 55px;
  margin: 0px;
  h1 {
    margin-top:20px;
  }
  form {
    @extend .no-margin-bottom;
  }
  position: relative;
  .button {
    margin-bottom: 10px;
  }
}
.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.close-modal {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 20px;
  top: 40px;
}
input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
input, textarea {
  background: transparent;
  border-color: $green;
  color: $green;
  font-size: 16px;
  &:focus {
    outline: none
  }
}
.display-mobile {
  display: none;
}

.blogs-container{
  background-color: $bg-color-two;
  @extend .no-gute;
  @extend .container-padding;
  padding-top:100px;
}

.blog-item{
  @extend .no-gute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;
  > * {
    width: 100%;
  }
  h3 {
    margin-top: 0px;
  }
  span {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a {
    @extend .gold-text;
  } 
}

.blog-image {
  @extend .no-gute;
  width: 874px;
  max-width: 100%;
}

.employee {
  @extend .no-gute;
  width: 33%;
}

.pagination {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .no-gute;
  span {
    padding: 0 10px;
    @extend .no-gute;
  }
}
.inner-box {
  display: flex;
  width: 245px;
  justify-content: space-between;
  > * {
    @extend .no-gute;
  }
}
.instagram-preview {
  @extend .no-gute;
  background-color: $bg-color-three;
  @extend .container-padding;
  padding-top:84px;
  padding-bottom: 58px;
}
.blog-area {
  @extend .no-gute;
  @extend .container-padding;
  padding-top: 100px;
  background-color: $bg-color-two;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-footer {
  height:54px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: absolute;
  padding: 0 8px;
  bottom: 0;
  left: 0;
  right: 0;
  @extend .no-gute;
  > * {
    @extend .no-gute;
  }
}
.project-footer-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  > *{
    @extend .no-gute;
    margin-right: 8px;
  }
}
.project-carousel {
  @extend .no-gute;
  padding: 0 24px;
  position: absolute;
  height: 58px;
  left: 0;
  right: 0;
  top: calc(50% - 29px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  img, div {
    @extend .no-gute;
  }
}
.blog-text {
  h2, h4 {
    margin-top: 30px;
  }
}

.home-button {
  background: rgb(173, 102, 43);
  width: 44px;
  height: 40px;
}
@media(min-width:961px) {
  .employee-text {
    &.--middle {
      padding: 0 66px;
    }
    &.--left {
      padding-left: 135px
    }
    &.--right {
      padding-right: 135px;
    }
  }
}
@media (max-width: 960px) {
  .hide-mobile {
    display: none;
  }
  .display-mobile {
    display: block;
  }
  .about-section-text, .about-section-image{
    width: 100%;
  }
  .employee {
    width: 100%;
  }
  .employee-description{
    margin-right: 0px;
  }
  .half-width {
    width: 100%;
  }
}


@media (max-width: 700px){
  .container-padding{
    padding: 0 20px;
  }
}